.home {
    padding: 2rem;
  }
  
  .home img {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
  }
  
  /* Estilos para telas menores (até 768px) */
@media only screen and (max-width: 768px) {
  .home {
    text-align: center;
  }

  .home img {
    width: 100%;
    border-radius: 39px;
  }
}
