.contact {
    padding: 2rem;
    margin: 200px;
    text-align: center;
  }
  
  /* Estilos para telas menores (até 768px) */
@media only screen and (max-width: 768px) {
  .contact {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1px;
    margin: 110px;
  }
}
